.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #38b2ac, #38a169, #38b2ac);
  padding: 3rem;
}

.team-section h1 {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.team-section p {
  color: white;
  text-align: center;
  max-width: 600px;
  margin-bottom: 2rem;
}

.team-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card .team-image-container {
  width: 120px; /* Adjusted width for smaller image */
  height: 120px; /* Adjusted height for smaller image */
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.team-card .team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.team-card h1 {
  color: #2d3748;
  margin-bottom: 0.5rem;
}

.team-card p {
  color: #4a5568;
}

.team-card button {
  background: #38a169;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.team-card button:hover {
  background: #2f855a;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

.modal .modal-image-container {
  width: 160px; /* Adjusted width for modal image */
  height: 160px; /* Adjusted height for modal image */
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.modal .modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.modal h1 {
  color: #2d3748;
  margin-bottom: 0.5rem;
}

.modal p {
  color: #4a5568;
  margin-bottom: 1rem;
}

.modal button {
  background: #e53e3e;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.modal button:hover {
  background: #c53030;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}
